/* The code below puts the title of the website in the center */
.title { 
    text-align: center;
}

.hidden {
    display: none !important;
}

/* The code below adds a white background-color and black text color for the body of the page. */
body {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
}


/* The code below adds a black background-color and white text color for each section heading. */
.section {
    text-align: center;
}

.img {
    width: 985px;
    background-attachment: fixed;
    right: 20px;
    bottom: 100px;
    /*left: 200;*/
    pointer-events: none;
    z-index: -10;
}

.container {
  position: relative;
  text-align: center;
  pointer-events: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}

.left {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px
}

.two {
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px
}

.rager {
  position: absolute;
  top: 480%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px
}

.rody {
  position: absolute;
  top: 350%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px
}

.extra {
  position: absolute;
  top: 600%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px
}

.light-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  
}

.button_1 {
    background-color: black;
    color: aliceblue;
}

.burr {
  border-radius: 50%;
  font-size: 17px;
  aspect-ratio: 1;
  background-color: rgb(112, 50, 146);
  color: rgb(209, 209, 209);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.direct-2 {
  position: absolute;
  right: 202.5px;
  bottom: 432.5px;
  z-index: 10;
  
}

.direct-3 {
  position: absolute;
  right: 202.5px;
  bottom: 361.5px;
  z-index: 11;
}

.direct-4 {
  position: absolute;
  right: 202.5px;
  bottom: 290.5px;
  z-index: 12;
}

.direct-5 {
  position: absolute;
  right: 202.5px;
  bottom: 222px;
  z-index: 13;
}

#content{
    position: absolute;
    /*background-color: rgb(163, 24, 209);*/
    top: 121px;
    left: 259px;
    width: 585px;
    height: 352px;
    z-index: 9999;
    overflow-y: scroll;
    overflow-wrap: break-word;
    scrollbar-color: rgba(144, 144, 144, 0.25) rgba(235, 64, 52, 0.0) ;
    scrollbar-width: thin;
    /*display: none;*/
}

.links {
  color: white;
}

.clan {
  width: 250px;
  position: fixed;
  left: 50px;
  top: 95px;
  border-radius: 10px;
}

.clantext {
  position: absolute;
  right: 75px;
  top: 100px;
  width: 230px;
}

.clantext-2 {
  position: absolute;
  right: 75px;
  top: 155px;
  width: 230px;
}

.humm-corp {
  width: 260px;
  height: inherit;
  top: 150px;
  background-image: url(images/humm.corp.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: scale-in;
  animation-duration: 3s;
}

@keyframes scale-in {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}

.text-zoom {
  position: fixed;
  top: 300px;
  right: 32.5px;
  width: 200px;
  font-size: 26px;
  
}

.abt-txt {
  position: absolute;
  left: 50px;
  width: 230px;
  top: 55px;
}

.abt-img {
  width: 230px;
  position: absolute;
  right: 50px;
  top: 30px;
}

.html-img {
  width: 200px;
  position: absolute;
  top: 25px;
}