/* The code below puts the title of the website in the center */
.title { 
    text-align: center;
}

.hidden {
    display: none !important;
}

/* The code below adds a white background-color and black text color for the body of the page. */
body {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
}


/* The code below adds a black background-color and white text color for each section heading. */
.section {
    text-align: center;
}

img {
    width: 985px;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}

.light-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  
}

.button_1 {
    background-color: black;
    color: aliceblue;
}


/*.hide_button {
  position: absolute;
  top: 78%;
  left: 43%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}*/